.event-form-container {
  width: 40%;
  display: flex;
  border: 1px solid #dce0e0;
  margin: 40px auto;
  border-radius: 40px 40px;
  padding: 20px;
  font-weight: lighter;
  min-width: 400px;
  label {
    font-weight: normal;
  }
  .btn-standard {
    display: flex;
    margin: 0 auto;
  }
}



