// main page container
.event-show-container {
margin: 20px;

}


.event-show-name {
  margin-left: 20px;
}

.event-show-description {
font-weight: lighter;
}

.event-location {

}


.event-dates {

}

.links-from-event-show-page {

}

.event-photo {
height: 200px;
width: 200px;
}
