.modal-header {
  background-color: #60737b;
  border-bottom: none;
  padding-top: 20px;

}

.modal-body {
  background-color: #60737b;
}

.modal-footer {
  background-color: #60737b;

}

.modal-title {
  color: white;
  text-align: center;
  margin-top: 17px;

}
