.dashboard-container {
  display: grid;
  height: 100vh;
  background-color: #f4f4f4;
  margin: auto;
  width: 90%;
  padding-top: 20px;
  margin-top: 70px;
}
<<<<<<< HEAD
=======



>>>>>>> 7deb0c9a9542a548d409252793e5db05261c26b5
