.banner {
  color: white;
  // text-align: center;
  height: 40vh;
  /* ifžyou have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  // justify-content: center;
}
.banner-content {
  margin-left: 130px;
}
.banner h1 {
  font-size: 50px;
  // font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.dashboard-messenger {
  margin-bottom: 50px;
  margin-right: 50px;
  background-color: #f4f4f4;
  padding: 5px;
}
.dashboard-messenger-desc {
  display: flex;
    .img {
      height: 100px;
    }
}
.fab {
  height: 50px;
  width: 50px;
}

.no-events {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background-color: none !important;
}

.dashboard-container {
  display: grid;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  width: 90%;
  // padding-top: 20px;
  margin-top: 70px;
}

.emergency {
  // border: 1px solid black;
  // height: 200px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  // background-color: #f4f4f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emergency-contact-list {
  // border: 1px solid black;
  // height: 400px;
  margin-right: 50px;
  margin-top: 20px;
  // background-color: #f4f4f4;
  text-align: center;
  margin-bottom: 50px;
}
.emergency-contacts-title {
  font-size: 20px;
  font-weight: 600px;
  padding: 20px;
  background-color: #ffffe3;
  margin-top: 1px;
  display: flex;
}
#emerg-contact-row {
  height: 50px;
  border-bottom: black;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;

    i {
      margin-left: 40px;
      margin-right: 10px;
    }
}
.notice {
  font-size: 20px;
  font-weight: 800;
}
.notice-info {
  font-size: 15px;
}

#event-button {
  position: absolute;
  bottom: 20px;
  right: 60px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: #1d97c1;
  color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(38,38,38,.15);
    h4 {
      font-size: 20px;
    }
}
.contact-button {
  background-color: #1d97c1;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  right: 100px;
}
.emerg-button {
  display: flex;
  background-color: #f95e5e;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.help {
  color: white;
}

.card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  background-color: #f4f4f4;
  width: 90%;
  margin-top: 80px;
  margin-left: 50px;
}
.card2 {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  background-color: #f4f4f4;
  width: 90%;
  margin-top: 80px;
}
.calendar {
  height: 300px;
  width: 90%;
}
.card-user {
  position: absolute;
  top: 10px;
  width: 250px;
  border-radius: 50%;
  left: 70px;
  top: -70px;
}
.card-description {
  position: absolute;
  bottom: 70px;
  left: 65px;
  color: black;
  font-size: 120px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
#ecn {
  text-align: center;
}
.event-title {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: lighter;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(191, 187, 187);
  margin-top: 0px;
  text-align: center;
  padding-top: 10px;
}

.event-cards {
  background-color: #f4f4f4;
  width: 90%;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  align-items: center;
}
.event-card {
  display: flex;
  align-items: center;
  color: black;
  border-bottom: 1px solid rgb(191, 187, 187);
  padding: 10px;
}
.event-card-name {
  font-size: 20px
}
.event-card-start-time {
  font-size: 15px;
  font-weight: lighter;
}
.event-card-end-time {
  font-size: 15px;
  font-weight: lighter;
}
.event-card-description {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
  font-weight: lighter;
}
.event-card-location {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
.dashboard-map {
  position: absolute;
  // top: 10px;
  width: 100px;
  border-radius: 50%;
}
.avatar-large {
  width: 50%;
  border-radius: 50%;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
