<div class="container head-home-container">
  <div class="row">
    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 phones">
      <img class="iphone-head-home" src="https://www.boostmobile.com/content/dam/boostmobile/en/products/phones/apple/iphone-6/gold/device-front.png">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="head-home-content">
        <h1>Send messages to <br> your bot when <br> you go out</h1>
        <h3>Alert your contacts if needed</h3>
        <div class="butn-fb-home">
          <%= link_to user_facebook_omniauth_authorize_path, :class => "sign-up-home" do %>
          <h4>Sign-up with Facebook</h4>
          <%end %>
        </div>
        <p>We'll never post without your approval</p>
      </div>
    </div>
  </div>
</div>


  <div class="container wraper-one">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <h3>Go out without thinking</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
      <div class="hidden-sm hidden-xs col-md-4 col-lg-4">
        <img class="bot-img-home" src="https://steemitimages.com/DQmYiVnUmgyZfsqv833TVSGbdF8ZmwpdzKtSB6jMrpc2hpN/U5dtbtmN8nnxiQePKBzAJoXMPKWWJLx_1680x8400.png">
      </div>
    </div>
  </div>



  <div class="container wraper-two">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <section id="one">
        <h3>Share your location</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
        <a href="#">Learn more</a>
        </section>

        <section id="two">
        <h3 class="next-row">Do something else</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
        <a href="#">Learn more</a>
        </section>

        <section id="three">
        <h3 class="next-row">Do another thing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
        <a href="#">Learn more</a>
        <h6>.</h6>
        </section>
      </div>
      <div class="hidden-sm hidden-xs col-md-4 col-lg-4 vid">
        <video id="vidhome" width="280" height="530"></video>


      </div>
    </div>
  </div>





<%# video_tag "bot-full-on.mp4", :size => "280x530",:id => "vidhome", :autoplay => true, :muted => true %>



