<h1>EmergencyContacts#show</h1>
<p>Find me in app/views/emergency_contacts/show.html.erb</p>

<%= @emergencycontact.first_name %>
<%= @emergencycontact.last_name %>
<%= @emergencycontact.phone_number %>
