
.btn-standard{
border: solid #9898AA 0.5px;
padding: 10px 10px 10px 10px;
color: #9898AA;
font-weight: 200;
margin: 6px 4px;
border-radius: 20px 20px;
}
.btn-standard:hover{
 color: black;
 border: solid #9898AA 0.5px;

}
