
.modal-content {
  width: 600px;
  border-radius: 30px;
  margin: 0 auto;
  // background-color: #1d97c1;

}

.modal-header {
  padding: 25px;
  margin-bottom: -70px;
  border: none;
}

.modal-body {

}
